@import '~bootstrap/scss/bootstrap';

.navbar {
  margin-left: -15px;
  margin-right: -15px;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  margin-top: 10px;
  min-height: 80vh;
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.horizontal-center-flex {
  display: flex;
  justify-content: center;
}

.footer {
  margin-top: 10px;
  height: 50px;
}

.react-grid-layout {
  background-color: #fbfbfb;
}

.react-grid-item {
  border: 1px dashed #ccc;
  overflow: hidden;
}

.grid-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.course-select {
  width: 150px;
  margin-right: 3px;
}

.share-button,
.signed-text {
  margin-left: 5px;
}

.add-item-button {
  margin-left: 5px;
}

.progress-wrapper {
  text-align: center;
  padding: 15px;
}

.item-buttons {
  display: flex;
  justify-content: flex-end;
}

.inside-item {
  display: flex;
  flex-direction: column;
}

.badge-item {
  font-size: 80px;
  color: #a7418c;
}

.align-center {
  text-align: center;
}

.point-text-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .points {
    font-size: 45px;
    color: rgb(28, 143, 66);
  }

  .points-label {
    font-size: 35px;
    color: #000;
  }
}
